<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Access page</title>
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}"/>
  </head>
  <body>
    <h1>This is the Access page</h1>
    <div class="tab">
      {% if acc_rec %}
        <table>
          <thead>
            <th>Users data</th>
            <th>Date Accessed</th>
          </thead>

          {% for acc in acc_rec %}
            <tr>
              <td>{{acc.name}}</td>
              <td>{{acc.date}}</td>
            </tr>
            
            {% endfor %}
        </table>

      {% endif %}


    </div>
  </body>
</html>
