<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User</title>
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}"/>
  </head>
  <body>
    <h1>This is the users page</h1>

    {% if user_page %}
      <ol>
        {% for us in user_page %}
        <li>PAGE Users</li>
        <ul>
            <li>first_name: {{us.first_name}}</li>
            <li>last_name: {{us.last_name}}</li>
            <li>email: {{us.emial}}</li>
        </ul>
        {% endfor %}
      </ol>
    {% else %}
      <p>No users found</p>
    {% endif %}

  </body>
</html>
